extends layout.pug

block content
  .container
    form(action="contact/send", method="post")
      .form-group
        label Name
        input.form-control(type='text',name='name', placeholder='Enter Name')
      .form-group
        label Email
        input.form-control(type='email', name='email', placeholder='Enter Email')
      .form-group
        label Message
        input.form-control(type='message', name='message', placeholder='Enter Message')
      button.btn.btn-dark(type='submit') Submit
        
