extends layout.pug

block content
  .container
    .row
      .col-md-4
        .jumbotron
          h2 Service Deatils
          p
           | You can directly register the service requirement of the Computer & Laptop Repairs and can have the rate for their services from our website. We are entirely customer-oriented. Our help desk understands the unique problems of our customers. We take pride in providing top-notch quality services at competitive prices.
          p
            a.btn.btn-secondary(href="#" role="button") View details »
      .col-md-4
        .jumbotron
          h2 Rate
          p
            | Professional services within your budget.
          p
            a.btn.btn-secondary(href="#" role="button") View details »
      .col-md-4
        .jumbotron
          h2 How It Works
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-secondary(href="#" role="button") View details »