extends layout.pug

block content
  .container
    .row
      .col-md-4
        .jumbotron
          h2 Service Deatils
          p
           | You can directly register the service requirement of the Computer & Laptop Repairs and can have the rate for their services from our website. We are entirely customer-oriented. Our help desk understands the unique problems of our customers. We take pride in providing top-notch quality services at competitive prices.
          p
            a.btn.btn-secondary(href="#" role="button") View details »
      .col-md-4
        .jumbotron
          h2 Rate
          p
            | We know price is a big factor in your decision to repair your device, so we stand behind our low price guarantee. We routinely monitor local prices, but if you find a retail store with lower pricing than us, we’ll match it. Guaranteed!
          p
            a.btn.btn-secondary(href="#" role="button") View details »
      .col-md-4
        .jumbotron
          h2 How It Works
          p
            | With more than a decade of experience, we can help you get your PC, MAC, or laptop up and running in no time, whether it be an on-site visit to your home or office, or even online! We also provide complete repair service for networks, printers, and other computer hardware. 
          p
            a.btn.btn-secondary(href="#" role="button") View details »